[Unit]
Description=Timelapse thermal

[Service]
User=pi
ExecStart=/usr/bin/bash /home/pi/thermal_capture.sh >> /home/pi/thermal_capture_timelapse_log.txt 2>&1
RuntimeMaxSec=infinity
Restart=always
RestartSec=90

[Install]
WantedBy=multi-user.target

